header {
  display: flex;
  justify-content: center;
  img {
  margin: 1rem;
  width: 40%;
  }
}
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darken($light-grey, 15%);
  img {
    width: 10%;
  }
}
.intro {
  background-color: $light-grey;
  &__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75vw;
  margin: 0 auto;
  padding: 1rem;
    h2 {
      margin: 0;
    }
    p {
      opacity: 0.6;
    }
  }
}
