header {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
  margin: 1rem;
  width: 40%;
  @include tablet {
    width: 25%;
    }
  }
  a {
    font-size: 1.5rem;
    color: black;
    position: relative;
    left: -50px;
  }
}
.header-index {
  &__banner {
    display: none;
    @include tablet {
      display: none;
    }
  }
@include large-device {
    #logo {
      display: none;
    }
    &__banner {
      display: block;
      background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1614706250649-b5ccfc837688?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80');
      background-position: center;
      background-size: cover;
      width: 100vw;
      height: 30vh;
      h1 {
        color: white;
        text-shadow: 1px 1px 2px black;
        font-size: 4rem;
        text-align: center;
        margin-top: 5rem;
      }
    }
  }
}

