<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>Le délice des sens</title>
  </head>
  <body>
    <header>
      <a href="index.html"><i class="fas fa-arrow-left"></i></a>
      <img src="../images/logo.svg" alt="logo">
    </header>
      <figure class="menu-img menu-img--delice">
      </figure>
      <section class="menu">
        <div class="menu-container">
          <div class="title">
            <h1>Le délice des sens</h1>
            <i class="far fa-heart"></i>
          </div>
          <div class="dishes">
            <h3>ENTRÉES</h3>
            <div class="dishes-card">
              <h4>Tartare de thon</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Assaisonné au yuzu</p>
                <p class="dishes-card__text--bold">25€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Bouchée de homard croustillant</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Et sa farandole de petits légumes</p>
                <p class="dishes-card__text--bold">35€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Velouté de cèpes</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Aux truffes</p>
                <p class="dishes-card__text--bold">20€</p>
              </div>
            </div>
          </div>
          <div class="dishes">
            <h3>PLATS</h3>
            <div class="dishes-card">
              <h4>Poulet rôti aux herbes de Provence</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Et sa crème de truffe</p>
                <p class="dishes-card__text--bold">40€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Langouste rôtie</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Et ses légumes de saison</p>
                <p class="dishes-card__text--bold">35€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Côte de boeuf Angus</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Et sa purée de panais</p>
                <p class="dishes-card__text--bold">44€</p>
              </div>
            </div>
          </div>
          <div class="dishes">
            <h3>DESSERTS</h3>
            <div class="dishes-card">
              <h4>Farandole de desserts</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Du chef</p>
                <p class="dishes-card__text--bold">18€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Crème brulée</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Revisité</p>
                <p class="dishes-card__text--bold">22€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Tiramisu</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">À la noisette</p>
                <p class="dishes-card__text--bold">23€</p>
              </div>
            </div>
          </div>
          <button class="btn-rounded">Commander</button>
        </div>
      </section>
    <footer class="footer-menu">
      <h2>ohmyfood</h2>
      <div class="footer-card">
        <i class="fas fa-utensils"></i>
        <a href="#">Proposer un restaurant</a>
      </div>
      <div class="footer-card">
        <i class="fas fa-hands-helping"></i>
        <a href="#">Devenir partenaire</a>
      </div>
      <div class="footer-links">
        <a href="#">Mentions légales</a>
        <a href="mailto: ohmyfood@resto.fr">Contact</a>
      </div>
    </footer>
  </body>
</html>



