<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>À la française</title>
  </head>
  <body>
    <header>
      <a href="index.html"><i class="fas fa-arrow-left"></i></a>
      <img src="../images/logo.svg" alt="logo">
    </header>
      <figure class="francaise-img">
      </figure>
      <section class="menu">
        <div class="menu-container">
          <div class="title">
            <h1>À la française</h1>
            <i class="far fa-heart"></i>
          </div>
          <div class="dishes">
            <h3>ENTRÉES</h3>
            <div class="dishes-card">
              <h4>Tartare de poulpe acidulé</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Aux zestes d'orange</p>
                <p class="dishes-card__text--bold">25€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Velouté de légumes d'antan</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Carotte, panais, topinambour</p>
                <p class="dishes-card__text--bold">35€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Soupe à l'oignon</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Revisitée</p>
                <p class="dishes-card__text--bold">20€</p>
              </div>
            </div>
          </div>
          <div class="dishes">
            <h3>PLATS</h3>
            <div class="dishes-card">
              <h4>Coquilles Saint-Jacques</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Accompagnées d'une purée de panais</p>
                <p class="dishes-card__text--bold">40€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Magret de canard</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Et parmentier de pommes de terre</p>
                <p class="dishes-card__text--bold">35€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Pigeonneau d’Ille-et-Vilaine</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Sur son lit de gnocchis aux légumes</p>
                <p class="dishes-card__text--bold">44€</p>
              </div>
            </div>
          </div>
          <div class="dishes">
            <h3>DESSERTS</h3>
            <div class="dishes-card">
              <h4>Pétales de violettes glacés</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Et purée de noisettes</p>
                <p class="dishes-card__text--bold">18€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Fondant au chocolat</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Revisité</p>
                <p class="dishes-card__text--bold">22€</p>
              </div>
            </div>
            <div class="dishes-card">
              <h4>Millefeuille croustillant</h4>
              <div class="dishes-card__text">
                <p class="dishes-card__text--lighter">Myrtilles et pâte d’amande</p>
                <p class="dishes-card__text--bold">23€</p>
              </div>
            </div>
          </div>
          <button class="btn-rounded">Commander</button>
        </div>
      </section>
    <footer class="footer-menu">
      <h2>ohmyfood</h2>
      <div class="footer-card">
        <i class="fas fa-utensils"></i>
        <a href="#">Proposer un restaurant</a>
      </div>
      <div class="footer-card">
        <i class="fas fa-hands-helping"></i>
        <a href="#">Devenir partenaire</a>
      </div>
      <div class="footer-links">
        <a href="#">Mentions légales</a>
        <a href="mailto: ohmyfood@resto.fr">Contact</a>
      </div>
    </footer>
  </body>
</html>


