<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
  <title>ohmyfood</title>
</head>
<body>
  <header>
    <img src="../images/logo.svg" alt="logo">
  </header>
  <div class="main-container">
    <section class="accueil">
      <div class="localisation">
        <img src="../images/map-icon.png" alt="map-icon">
        <p>Paris, Belleville</p>
      </div>
      <div class="intro">
        <div class="intro__text">
          <h2>Réservez le menu qui vous convient</h2>
          <p>Découvrez des restaurants d'exception, sélectionnés par nos soins</p>
          <button>Explorez nos restaurants</button>
        </div>
      </div>
      <div class="fonctionnement">
        <h2>Fonctionnement</h2>
        <div class="fonctionnement-card">

        </div>
        <div class="fonctionnement-card">

        </div>
        <div class="fonctionnement-card">

        </div>
      </div>
    </section>
    <section class="restos">
      <h2>Restaurants</h2>
      <div class="restos-card">
        <img src="" alt="">
        <div class="restos-card__infos">
          <div class="restos-card__text">

          </div>
        </div>
      </div>
      <div class="restos-card">
        <img src="" alt="">
        <div class="restos-card__infos">
          <div class="restos-card__text">

          </div>
        </div>
      </div>
      <div class="restos-card">
        <img src="" alt="">
        <div class="restos-card__infos">
          <div class="restos-card__text">

          </div>
        </div>
      </div>
      <div class="restos-card">
        <img src="" alt="">
        <div class="restos-card__infos">
          <div class="restos-card__text">

          </div>
        </div>
      </div>

    </section>
  </div>
<footer>
  <h2>ohmyfood</h2>
  <div class="footer-card">

  </div>
  <div class="footer-card">

  </div>
  <a href=""></a>
  <a href=""></a>
</footer>

</body>
</html>
