<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <title>ohmyfood</title>
</head>
<body>
  <header>
    <img src="../images/logo.svg" alt="logo">
  </header>
  <div class="main-container">
    <section class="accueil">
      <div class="localisation">
        <img src="../images/map-icon.png" alt="map-icon">
        <p>Paris, Belleville</p>
      </div>
      <div class="intro">
        <div class="intro__text">
          <h2>Réservez le menu qui vous convient</h2>
          <p>Découvrez des restaurants d'exception, sélectionnés par nos soins</p>
          <button class="btn-rounded">Explorez nos restaurants</button>
        </div>
      </div>
      <div class="fonctionnement">
        <h2>Fonctionnement</h2>
        <div class="fonctionnement-card">
          <p class="fonctionnement-card__counter">1</p>
          <i class="fas fa-mobile-alt fonctionnement-card__icon"></i>
          <p class="fonctionnement-card__text">Choisissez un restaurant</p>
        </div>
        <div class="fonctionnement-card">
          <p class="fonctionnement-card__counter">2</p>
          <i class="fas fa-list fonctionnement-card__icon"></i>
          <p class="fonctionnement-card__text">Composez votre menu</p>
        </div>
        <div class="fonctionnement-card fonctionnement-card--active">
          <p class="fonctionnement-card__counter">3</p>
          <i class="fas fa-store fonctionnement-card__icon"></i>
          <p class="fonctionnement-card__text">Dégustez au restaurant</p>
        </div>
      </div>
    </section>
    <section class="restos">
      <h2>Restaurants</h2>
      <a href="#" class="restos-card">
        <img src="../images/palette.jpg" alt="plat">
        <div class="card-infos">
          <div class="card-infos__text">
            <h3>La palette du goût</h3>
            <p>Ménilmontant</p>
          </div>
          <i class="far fa-heart"></i>
        </div>
      </a>
      <a href="#" class="restos-card">
        <img src="../images/note.jpg" alt="plat">
        <div class="card-infos">
          <div class="card-infos__text">
            <h3>La note enchantée</h3>
            <p>Charonne</p>
          </div>
          <i class="far fa-heart"></i>
        </div>
      </a>
      <a href="#" class="restos-card">
        <img src="../images/francaise.jpg" alt="plat">
        <div class="card-infos">
          <div class="card-infos__text">
            <h3>À la française</h3>
            <p>Cité rouge</p>
          </div>
          <i class="far fa-heart"></i>
        </div>
      </a>
      <a href="#" class="restos-card">
        <img src="../images/delice.jpg" alt="plat">
        <div class="card-infos">
          <div class="card-infos__text">
            <h3>Le délice des sens</h3>
            <p>Folie-Méricourt</p>
          </div>
          <i class="far fa-heart"></i>
        </div>
      </a>
    </section>
  </div>
<footer>
  <h2>ohmyfood</h2>
  <div class="footer-card">
    <i class="fas fa-utensils"></i>
    <a href="#">Proposer un restaurant</a>
  </div>
  <div class="footer-card">
    <i class="fas fa-hands-helping"></i>
    <a href="#">Devenir partenaire</a>
  </div>
  <div class="footer-links">
    <a href="#">Mentions légales</a>
    <a href="mailto: ohmyfood@resto.fr">Contact</a>
  </div>
</footer>

</body>
</html>
