<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>La palette du goût</title>
  </head>
  <body>
    <header>
      <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
      <img src="../images/logo.svg" alt="logo">
    </header>
    <figure class="menu-img menu-img--palette">
    </figure>
    <section class="menu">
      <div class="menu-container">
        <div class="title">
          <h1>La palette du goût</h1>
          <i class="far fa-heart"></i>
        </div>
        <div class="dishes">
          <h3>ENTRÉES</h3>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Fricassées d'escargot</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Au piment d'espelette</p>
                <p class="dishes-card-container__text--bold">25€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Foie gras de canard mi-cuit</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Et ses copeaux de truffe noire</p>
                <p class="dishes-card-container__text--bold">35€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Oeuf au plat</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Assaisonné à la truffe sur lit de caviar</p>
                <p class="dishes-card-container__text--bold">20€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="dishes">
          <h3>PLATS</h3>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Filet de boeuf aux herbes</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Accompagné de sa ribambelle de légumes</p>
                <p class="dishes-card-container__text--bold">40€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Parmentier de queue de boeuf</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">À la truffe noire sur sa purée de panais</p>
                <p class="dishes-card-container__text--bold">35€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Filet de turbot</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Aux agrumes</p>
                <p class="dishes-card-container__text--bold">44€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="dishes">
          <h3>DESSERTS</h3>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Paris-Brest</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Revisité</p>
                <p class="dishes-card-container__text--bold">18€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Macaron au chocolat d'exception</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Et glace à la vanille de Madagascar</p>
                <p class="dishes-card-container__text--bold">22€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="dishes-card">
            <div class="dishes-card-container">
              <h4>Mousse au chocolat</h4>
              <div class="dishes-card-container__text">
                <p class="dishes-card-container__text--lighter">Au piment d'Espelette et à la truffe noire</p>
                <p class="dishes-card-container__text--bold">23€</p>
              </div>
            </div>
            <div class="dishes-card-check">
              <div class="dishes-card-check__icon">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
        </div>
        <a class="btn-rounded btn-rounded--menu">Commander</a>
      </div>
    </section>
    <footer class="footer-menu">
      <h2>ohmyfood</h2>
      <div class="footer-cards">
        <div class="footer-cards__card">
          <i class="fas fa-utensils"></i>
          <a href="#" class="propose">Proposer un restaurant</a>
        </div>
        <div class="footer-cards__card">
          <i class="fas fa-hands-helping"></i>
          <a href="#">Devenir partenaire</a>
        </div>
        <div class="footer-cards__links">
          <a href="#">Mentions légales</a>
          <a href="mailto:ohmyfood@resto.fr">Contact</a>
        </div>
      </div>
    </footer>
  </body>
</html>
