/* cards page d'accueil */
.restos-cards__card {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 1rem auto;
  @include box-shadow;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  @include tablet-portrait {
    width: 85vw;
    margin: 2rem auto;
  }
  @include large-device {
    width: 40vw;
  }
}
.card-infos {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  &__text {
    h3 {
      margin-block-start: 0;
      margin-block-end: 0.5rem;
    }
    p {
      margin-block-start: 0.5rem;
      margin-block-end: 0;
      opacity: 0.6;
    }
  }
}
.card-infos__checkbox {
  font-size: 1.5rem;
  cursor: pointer;
  .unchecked {
    opacity: 0.6;
  }
  .checked {
    display: none;
  }
  input[type="checkbox"]:checked ~ .checked {
    display: block;
    color: $color-primary;
    animation: heart-fill 1s ease-in-out forwards;
    // opacity: 1;
  }
  input[type="checkbox"]:checked ~ .unchecked {
    display: none;
  }
}
@keyframes heart-fill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* cards pages des menus */
.dishes-card {
  background-color: white;
  border-radius: 20px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  @for $i from 1 through 5 {
    &:nth-child(#{$i}){
      animation: card-move 800ms $anim-delay / 2 *$i ease-in-out both;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0.25rem 0;
      font-size: 0.95rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--lighter {
      opacity: 0.6;
      width: 85%;
    }
    &--bold {
      font-weight: bold;
    }
  }
  h4 {
    margin: 0;
  }
}
@keyframes card-move {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
