.delice-img {
  background-image: url("../images/delice.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 36vh;
  margin: 0;
  position: relative;
  top: 23px;
  z-index: 1;
}
