/* loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
  &__el {
    font-size: 20px;
    opacity: 0;
    display: inline-block;
    color: $color-primary;
    animation: begin-loading 0ms 3s backwards;
    @for $i from 1 through 6 {
      &--#{$i} {
        animation: inner-loader 3s ease-in-out;
        animation-delay: $anim-delay / $i;
      }
    }
  }
}
@keyframes inner-loader {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@keyframes begin-loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes end-loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.header-index__banner {
    display: none;
}
.accueil, .restos, .header-index, .footer-index {
  animation: end-loading 300ms 3s ease-in-out both;
}
/* section accueil */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darken($light-grey, 6%);
  img {
    width: 12%;
  }
  p {
    font-weight: bold;
  }
}
.intro {
  background-color: $light-grey;
  &__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  padding: 1.5rem;
    h2 {
      margin: 0;
    }
    p {
      opacity: 0.6;
    }
  }
}
.fonctionnement {
  width: 93vw;
  margin: 2rem auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    align-self: flex-start;
  }
}
.fonctionnement-cards {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-grey;
  width: 90%;
  border-radius: 15px;
  @include box-shadow;
  margin-bottom: 2rem;
  &__counter {
    border-radius: 50px;
    background-color: $color-primary;
    padding: 0.25rem 0.6rem;
    color: white;
    position: relative;
    left: -10px;
    font-size: 1rem;
  }
  &__text {
    font-weight: bold;
    padding-left: 1rem;
  }
  &__icon {
    font-size: 1.25rem;
    opacity: 0.5;
    padding-left: 1rem;
  }
  &:hover {
    background-color: lighten($color-primary, 35%);
    i {
      color: $color-primary;
      opacity: 1;
    }
  }
}
/* section restos */
.restos {
  width: 100vw;
  background-color: $light-grey;
  padding-bottom: 2rem;
  h2 {
    margin: 1rem;
    padding-top: 2rem;
  }
}
/* Medium devices (tablets portrait, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  .loader-inner__el {
    font-size: 2rem;
  }
  .header-index__banner {
    display: none;
  }
  .localisation img {
    width: 9%;
  }
  .intro__text {
    padding: 2rem 1.5rem;
  }
  .fonctionnement-card {
    width: 65%;
  }
  .restos h2 {
    margin: 2rem;
  }
}
/*Large devices (tablets landscape, desktops, 992px and up)*/
@media (min-width: 992px) {
  * {
    box-sizing: border-box;
  }
  .loader-inner__el {
    font-size: 2.5rem;
  }
  .header-index {
    #logo {
      display: none;
    }
    &__banner {
      display: block;
      background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1614706250649-b5ccfc837688?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80');
      background-position: center;
      background-size: cover;
      width: 100vw;
      height: 30vh;
      h1 {
        color: white;
        text-shadow: 1px 1px 2px black;
        font-family: $title-font;
        font-size: 4rem;
        text-align: center;
        margin-top: 5rem;
      }
    }
  }
  .localisation {
    height: 10vh;
    img {
      width: 7%;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .intro__text {
    padding: 2rem;
  }
  .fonctionnement h2 {
    margin-bottom: 2.5rem;
  }
  .fonctionnement-cards {
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
  }
  .fonctionnement-card {
    width: 30%;
  }
  .restos h2 {
    margin: 2.5rem;
  }
  .restos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem auto;
  }
}
