.palette-img {
  background-image: url("../images/palette.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 36vh;
  margin: 0;
  position: relative;
  top: 23px;
  z-index: 1;
}
.menu {
  background-color: $light-grey;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: 0;
  z-index: 2;
}
.menu-container {
  width: 92vw;
  margin: 0 auto;
  button {
    width: 50%;
    margin: 2rem 5rem;
  }
  h3 {
    padding-bottom: 0.5rem;
    opacity: 0.6;
    &::after {
      content:'';
      display: block;
      padding-top: 0.5rem;
      border-bottom: 3px solid $color-ternary;
      width: 15%;
    }
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  i {
    font-size: 1.5rem;
  }
  h1 {
    font-family: $title-font;
  }
}
.footer-menu {
  margin-top: 0;
}
