// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
$title-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;

//general settings

body {
  font-size: 65%; /* environ 10px */
  margin: 0;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h1, h2, h3, h4 {
  font-weight: bold;
  font-family: $text-font;
}
p {
  font-size: 1.2rem;
  font-family: $text-font;
}
